/* Start var */
:root {
  --main-color: #a9a6a6;
  --bg-color:#282828;
  --padding-section: 60px;
}

/* end var */

/* start components */

/* end components */
/* Start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* media */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* large     */
@media (min-width: 1200x) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start header */
header {
    position: absolute;
    width: 100%;
    z-index: 999;
    left: 0;
    border-bottom: 1px solid var(--main-color);
    min-height: 90px;
}
.container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container nav .left {
    display: flex;
    align-items: center;
}
.container nav .left button {
    margin-right: 10px;
    color: var(--main-color);
    background: none;
    border: none;
    cursor: pointer;
    width: 25px;
}
.container nav .left button:focus {
    outline: none;
}
.container nav .left button i {
    font-size: 22px;
    padding: 34px 0;
    text-align: center;
}
.container nav .left ul {
    display: flex;

}
.container nav .left ul li a {
    display: block;
    padding: 35px 10px;
    text-decoration: none;
    color: var(--main-color);
    border-radius: 5px;

}
.container nav .left ul li a:hover{
    transition: 0.5s;
    border-bottom: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: var(--bg-color);
}
@media (max-width:540px) {
    .container nav .left ul {
        display: none;
    }
}
.container nav .right {
    display: flex;
    align-items: center;
}
.container nav .right ul {
    display: flex;
}
.container nav .right a {
    border: 1px solid var(--main-color);
    text-decoration: none;
    color:var(--main-color);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
.container nav .right ul li:not(:last-of-type) {
    margin-right: 15px;
}
.container nav .right a:hover{
    color: var(--bg-color);
    background: var(--main-color);
    border: 1px solid var(--bg-color);
}
#logged-in-UI {
    display: flex;
    align-items: center;
    display: none;
}
#logged-in-UI b{
    width: 30px;
    height: 30px;
    background-color: var(--main-color);
    display: inline-block;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    font-size: 20px;
    margin-right: 3px;
}
#logged-in-UI span {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 500;
    margin-right: 8px;

}

/* end header */

/* add btn */
#addBtn {
    position: fixed;
    z-index: 998;
    background-color: grey;
    width: 60px;
    height: 60px;
    font-size: 70px;
    text-decoration: none;
    color: #FFF;
    line-height: 45px;
    text-align: center;
    bottom: 7%;
    right: 5%;
    border-radius: 50%;
    transition: 0.3s;
}
#addBtn:hover {
    transform: scale(1.1);
}
/* //add btn// */

/* start menu box */
#menu {
    position: absolute;
    left: -300px;
    width: 300px;
    background-color: #D9D9D9;
    min-height: 100vh;
    z-index: 1000;
    transition: 0.5s;
}
#menu .menu-box {
    padding: 30px;
}
#menu .menu-box #arrow {
    font-size: 40px;
    cursor: pointer;
}
#menu .menu-box a {
    text-decoration: none;
    color: var(--bg-color);
}
#menu .menu-box .box {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    padding: 0 0 15px;
}
#menu .menu-box .box:hover {
    border-bottom: 1px solid var(--bg-color);
}
#menu .menu-box .box img , i {
    font-size: 25px;
    margin-right: 20px;
}
#menu .menu-box .box p {
    font-size: 30px;
    font-weight: 500;
}
/* end menu box */
/* start landing page */
.landing-page {
    min-height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    position: relative;
}
/* home page */
.landing-page .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    max-width: 100%;
}
.landing-page .content img {
    width: 700px;
    margin-bottom: 16px;
}
.landing-page .content p {
    font-size: 25px;
    color: var(--main-color);
}
/* sign in */
.landing-page .sign {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    text-align: center;
    max-width: 100%;
}
.landing-page form {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 50%;
    text-align: center;
}

.landing-page form .input-box{
    width: 60%;
    margin: 0 auto 20px;
} 
@media(max-width:767px) {
    .landing-page form {
        width: 70%;
    }
    .landing-page form .input-box {
        width: 80%;
    }
}
@media(max-width:540px) {
    .landing-page form {
        width: 100%;
    }
}
.landing-page form label {
    display: block;
    color: var(--main-color);
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.landing-page form input {
    width: 100%;
    padding: 8px 10px;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.3s;
}
.landing-page form input:focus {
    outline: none;
    border: 2px solid var(--main-color);
}
.landing-page form input[type="submit"] {
    width: fit-content;
    padding: 10px 20px;
    color: var(--main-color);
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.landing-page form input[type="submit"]:hover {
    color: var(--bg-color);
    background-color: var(--main-color);
    border: 1px solid var(--bg-color);
}
.focus {
    color: var(--bg-color) !important;
    background-color: var(--main-color) !important;
    border: 1px solid var(--bg-color) !important;
    /* color: red; */
}
/* //sign // */
.landing-page #overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .3);
    z-index: 999;
    display: none;
}
@media(max-width:991px) {
    .landing-page .content img {
        width: 600px;
    }
    .landing-page .content p {
        font-size: 18px;    
    }
}
@media(max-width:767px) {
    .landing-page .content img {
        width: 480px;
    }
    .landing-page .content p {
        font-size: 17px;    
    }
}
@media(max-width:540px) {
    .landing-page .content img {
        width: 320px;
    }
    .landing-page .content p {
        font-size: 17px;    
    }
}
@media(max-width:351px) {
    .landing-page .content img {
        width: 250px;
    }
    .landing-page .content p {
        font-size: 16px;    
    }
}
/* end landing page */